
// icons
$small-icon-size: 1.8rem;
$medium-icon-size: 2.2rem;
$large-icon-size: 3.1rem;

// sidebar
$sidebar-color: rgba(255, 255, 255, 0.863);
$sidebar-background-color: #005e6e;
$sidebar-icon-background-color: #003943;
$sidebar-icon-background-color-hover: rgba(159, 111, 111, 0.2);
$sidebar-icon-color-primary: #7dcdff;
$sidebar-danger: #fa6060;
